﻿<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1608873762665013',
            xfbml: true,
            version: 'v2.2',
            status: true,
            oauth: true
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=1608873762665013&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    function order1() {
        FB.ui({
            method: 'pay',
            action: 'purchaseitem',
            product: 'http://vit2005-001-site1.smarterasp.net/price600.html',
            quantity: 1,                 // optional, defaults to 1
        },
        function (data) {
            console.log(data);
        }
        );
    }
    function order2() {
        FB.ui({
            method: 'pay',
            action: 'purchaseitem',
            product: 'http://vit2005-001-site1.smarterasp.net/price600.html',
            quantity: 2,                 // optional, defaults to 1
        },
        function (data) {
            console.log(data);
        }
        );
    }

</script>


<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

<a href="javascript:order1();">Купить одну жизнь</a>
<a href="javascript:order2();">Купить две жизни</a>