﻿@{
    ViewBag.Title = "Home Page";
}

<!--<a href="http://www.odnoklassniki.ru/oauth/authorize?client_id=1126962432&scope=VALUABLE_ACCESS,&response_type=code&redirect_uri=http://localhost:18080/Home/ExternalLoginResult" title="Одноклассники">Войти через Одноклассников</a><br/>
<a href="https://oauth.vk.com/authorize?client_id=4830147&scope=offline&redirect_uri=http://localhost:18080/Home/VkLoginResult&response_type=code&v=5.29" title="VK">Войти через ВКонтакте</a>
<a href="https://oauth.vk.com/access_token?client_id=4830147&client_secret=B3sNnxQTJmHud1dpbqB1&v=5.29&grant_type=client_credentials">Получить серверный токен</a>
    -->

<script type="text/javascript" src="http://api.odnoklassniki.ru/js/fapi5.js"></script>
<script type="text/javascript">
/*
* Инициализация API.
* Здесь необходимо изменить 2 параметра:
*/
var rParams = FAPI.Util.getRequestParameters();
FAPI.init(rParams["api_server"], rParams["apiconnection"],
    /*
    * Первый параметр:
    * функция, которая будет вызвана после успешной инициализации.
    */
    function() {
        //alert("successfuly initialized");
    },
    /*
    * Второй параметр:
    * функция, которая будет вызвана, если инициализация не удалась.
    */
    function(error){
        processError(error);
    }
);

function order1() {
    FAPI.UI.showPayment("1life", "Купить одну жизнь!", 1001, 1, null, null, "ok", "true"); // http://apiok.ru/wiki/display/api/FAPI.UI.showPayment+ru
}
function order2() {
    FAPI.UI.showPayment("2life", "Купить две жизни!", 1002, 2, null, null, "ok", "true");
}

</script>

<a href="javascript:order1();">Купить одну жизнь</a>
<a href="javascript:order2();">Купить две жизни</a>