﻿<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

<div id="login_button" onclick="VK.Auth.login(getit);"></div>

<script language="javascript">
    VK.init({
        apiId: 4830147
    });
    function authInfo(response) {
        if (response.session) {
            alert('user: ' + response.session.mid);
        } else {
            alert('not auth');
        }
    }
    function getit(response) {
        if (response.session) {
            var id = response.session.mid;
        }
        VK.Api.call('users.get', { uids: id, fields: 'sex,photo_big' }, function (r) {
            if (r.response) {
                alert(r.response[0].first_name + r.response[0].last_name);
            }
        });
        var params = {
            type: 'item',
            item: 'item_25new'
        };
        VK.Api.call('showOrderBox', params);
    }
    VK.Auth.getLoginStatus(authInfo);
    VK.UI.button('login_button');

</script>


<iframe src="@Url.Action("vkiframe","Home")" width="468" height="460" align="left">
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>